.about {
    @apply flex flex-col items-start py-4 px-9 pl-24;
}

.about-container {
    @apply flex justify-center items-start;
}

.my-photo {
    @apply w-60 h-60 rounded-full bg-surface-pri ring-offset-4 ring-4 ring-offset-surface-third 
        ring-surface-pri opacity-50 hover:opacity-100;
}

.about-text-container {
    @apply flex flex-col justify-center items-center;
}

.about-text-container header {
    @apply flex justify-evenly items-center w-full;
}

.about-text-container h1 {
    @apply font-bold text-2xl mt-0 text-txt-pri;
}

.hori-line {
    @apply h-0.5 w-10/12 bg-txt-pri;
}

.about-container div p {
    color: #e9e9e9;
    width: 60%;
    margin-top: 5px;
    padding-right: 10%;
    font-weight: 400;
}

.about-btn-proj {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
    width: 10rem;
    height: auto;
    margin-right: 15px;
}

.about-btn-proj .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 2rem;
    height: 2rem;
    background: #0f2027;
    border-radius: 1.625rem;
}

.about-btn-proj .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background: #fff;
}

.about-btn-proj .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.2rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
}

.about-btn-proj .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.31rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
}

.about-btn-proj .btn-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 1rem 0;
    margin: 0 0 0 1.85rem;
    color: #fff;
    font-weight: 700;
    line-height: 0px;
    text-align: center;
    text-transform: uppercase;
}

.about-btn-proj:hover .circle {
    width: 100%;
}

.about-btn-proj:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
}

.about-btn-proj:hover .btn-text {
    color: #fff;
}
